<div class="shadow-lg p-3 mb-5 bg-white rounded form">
  <form class="signup-form">
    <h2>
      Sign Up
    </h2>
    <p>
      Please fill in this form to create new account
    </p>
    <hr>
    <mat-form-field class="signup">
      <input type="text" ngModel name="firstname" matInput placeholder="First Name" value="" required>

      <mat-error>
        The first name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup">
      <input type="text" ngModel name="lastname" matInput placeholder="Last Name" value="" required>

      <mat-error>
        The last name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup">
      <input type="text" ngModel name="email" matInput placeholder="Email" value="" required>
      <span style="color: blue" matSuffix>abc@abc.com</span>
      <mat-error>
        The email is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup">
        <input type="password" ngModel name="password" matInput placeholder="Password" value="" required>
  
        <mat-error>
          The password is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="signup">
          <input type="password" ngModel name="rpassword" matInput placeholder="Repeat Password" value="" required>
    
          <mat-error>
            <!-- The email is required. -->
            Fill repeat password
          </mat-error>
        </mat-form-field>

        <br><br>
        <mat-radio-group>
          <p>Gender</p>
          <mat-radio-button name="gender" value="male" [checked]="isChecked">Male</mat-radio-button><br>
          <mat-radio-button name="gender" value="female">Female</mat-radio-button>
        </mat-radio-group>
        <br><br>
        <mat-checkbox>
          Remeber me
        </mat-checkbox><br><br>
        <!-- <p>We create an accountyou agree <a routerLink="/register" id="term">Terms & Privacy.</a></p> -->

        <button type="submit" mat-raised-button >Submit</button>
  </form>
</div>