.show{
  /* color: red;
  height: 200px;
  width: 200px;
  background-color: blueviolet */
  /* height: auto;
  width: auto;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 200px;
  max-width: 200px; */
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.form{
  margin-left: 400px;
  margin-top: 20px;
  width: 500px
}
#term{
  text-decoration: none;
}
p{
  font-weight: bold;
}